* {
  margin: 0px;
}

.Container {
  width: 640px;
  margin: auto;
  margin-top: 150px;
  background: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
}

.Container hr {
  height: 3px;
  border: none;
  background-color: #707070;
}

.Container h2 {
  font-size: 27px;
  font-weight: 500;
}

.Container ul li {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}

.Container button {
  margin: auto;
  width: 250px;
  height: 65px;
  background: #553f9a;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}

.Container .index {
  margin: auto;
  font-size: 18px;
}

.Container .correct {
  background: #dffff2;
  border-color: #00d397;
}

.Container .wrong {
  background: #ffebeb;
  border-color: #ff4a4a;
}
